<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/header'); %>

    <main>

      <section class="jumbotron">
        <div class="container">
          <h1>Country Database</h1>
        </div>
      </section>


      <section class="container">
        <h1 class="h3">
          Yes...all of them!
        </h1>

        <p>
          You like coastal countries? You bet we got those.<br>
          You like landlocked countries? We got those too!<br>
          Get searching up above by clicking on the search link and lets get going.
        </p>
      </section>

    </main>

    <%- include('partials/footer'); %>
  </body>
</html>
